<a href="https://colab.research.google.com/github/cevikhalil/Data-Science-with-Python-and-Tensorflow/blob/main/06_Boolean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
myBoolean = True
type(myBoolean)

bool

In [ ]:
myBoolean = False
type(myBoolean)

bool

In [ ]:
18 > 5

True

In [ ]:
5 > 18

False

In [ ]:
myList = [5000, 10000, 3000, 1000, 2000, 4000]
print("Number of employees: ",len(myList))
print("Total salary: ",sum(myList))
print("Average salary: ",sum(myList)/len(myList))

Number of employees:  6
Total salary:  25000
Average salary:  4166.666666666667

In [ ]:
9 > 3 and 3 > 2

True

In [ ]:
9 > 3 and 3 < 2

False

In [ ]:
9 > 3 or 3 < 2

True