<a href="https://colab.research.google.com/github/cevikhalil/Data-Science-with-Python-and-Tensorflow/blob/main/12_Scope.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num1 = 20

def multiply(num2):
  num1 = 10
  return num1 * num2

In [ ]:
multiply(-4)

-40

In [ ]:
print(num1)

20

Local Enclosing Global Built-In (LEGB Model)

In [ ]:
myName = "Kate" #Global variable

def myFunction():
  myName = "Mildred" # Enclosing variable

  def innerFunction():
    myName = "Barbra" # Local variable
    print(myName)
  innerFunction()

In [ ]:
myFunction()

Barbra

In [ ]:
print(myName)

Kate

In [ ]:
y = 4

def newFunction(y):
  print(y)
  y = 5
  print(y)
  return y

In [ ]:
newFunction(7)

7
5

5

In [ ]:
print(y)

4

In [ ]:
y = 10

def sampleFunction():
  global y
  y = 5
  print(y)

In [ ]:
sampleFunction()

5

In [ ]:
print(y)

5