<a href="https://colab.research.google.com/github/cevikhalil/Data-Science-with-Python-and-Tensorflow/blob/main/13_OOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Instance & Attribute

In [ ]:
class SuperHero():
  ability = "Invisibility"

  def __init__(self, name, age, profession):
    print("init çağrıldı")
    self.name = name
    self.age = age
    self.profession = profession

  def sampleMethod(self):
    print(f"I am a superhero and my profession is {self.profession}")

In [ ]:
superman = SuperHero("Superman",30,"journalist")
print(superman.name)
print(superman.age)
print(superman.profession)

init çağrıldı
Superman
30
journalist

In [ ]:
superman.ability

'Invisibility'

In [ ]:
superman.sampleMethod()

I am a superhero and my profession is journalist

In [ ]:
class Dog():
  def __init__(self, age=5):
    self.age = age

In [ ]:
myDog = Dog()

In [ ]:
myDog.age

5

## Inheritance

In [ ]:
class Animal():
  def __init__(self):
    print("animal class init is called")

  def method1(self):
    print("animal class method1 is called")

  def method2(self):
    print("animal class method2 is called")

In [ ]:
myAnimal = Animal()

animal class init is called

In [ ]:
myAnimal.method1()

animal class method1 is called

In [ ]:
myAnimal.method2()

animal class method2 is called

In [ ]:
class Cat(Animal):
  def __init__(self):
    Animal.__init__(self)
    print("cat class init is called")

  def meow(self):
    print( "meow")

  def method1(self):
    print("cat class method1 is called")

In [ ]:
myCat = Cat()

animal class init is called
cat class init is called

In [ ]:
myCat.method1()

cat class method1 is called

In [ ]:
myCat.meow()

meow

## Polymorphism

In [ ]:
class Apple():
  def __init__(self,name):
    self.name = name

  def giveInfo(self):
    return self.name + " is 100 calories"

In [ ]:
class Banana():
  def __init__(self,name):
    self.name = name

  def giveInfo(self):
    return self.name + " is 150 calories"

In [ ]:
apple = Apple("apple")
apple.giveInfo()

'apple is 100 calories'

In [ ]:
banana = Banana("banana")
banana.giveInfo()

'banana is 150 calories'

In [ ]:
fruitList = [apple,banana]

for fruit in fruitList:
  print(fruit.giveInfo())

apple is 100 calories
banana is 150 calories

In [ ]:
def takeInfo(fruit):
  print(fruit.giveInfo())

In [ ]:
takeInfo(banana)

banana is 150 calories

In [ ]:
takeInfo(apple)

apple is 100 calories